body { font-family: 'EB Garamond', serif; }

h1,
h2 { text-align: right; }

ul {list-style-type: none; }

article {
    display: flex;
    flex-direction: row;
}

article p {
    padding: 20px;
}

.container {
    position: relative;

    margin: auto;
    max-width: 1024px;
}

.container-bottom-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 150px;
}

.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./sveta-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 30vh;
}