/*** Tags ***/
* { box-sizing: border-box; }
html { font-size: 62.5%; }

body { font-family: 'EB Garamond', serif; }

ul { 
    margin-top: 0;
    padding-left: 2rem;
    list-style-type: none;
}

/*** Shared styles ***/
.parallax {
    background-image: url("./sveta-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row.section-code-examples {
    justify-content: start;
}

/*** CV styles ***/
.container {
    position: relative;

    margin: auto;
    max-width: 102.4rem;
}

.container-bottom-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 15rem;
}

/* Header */
.header {    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header-contacts {
    margin: 0;
    padding: 0;
}

.header-contacts li:first-child {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0; 
  }

.header-h {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0; 
}

/* section "About" */
.article-about-p {
    padding: 2rem;
}

/* section "Code Examples"*/
.code-examples-code {
    margin-left: 25%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

